<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        <p>{{ message }}</p>
        <p>result:{{ result }}</p>
        <p>
            <input v-model="num1" type="number">
            <span>+</span>
            <input v-model="num2" type="number">
        </p>
    </div>
<script>
    const demoVm = new Vue({
        el: "#app",
        data: {
            message: "hello world",
            num1: 0,
            num2: 0
        },
        computed: {
            result() {
                return Number(this.num1) + Number(this.num2);
            }
        }
    })
</script>
</body>
</html>